<div class="columns is-mobile">
  <div class="column is-two-thirds news"> BARKR NEWS
    <!-- Single Post Listing -->
    <ol class="post-list">
    <li>
        <article class="post">
        <div class="title">
            <a href="{{post_url}}" target="_blank">{{title}}</a>
            <span>({{post_url}})</span>
        </div>
        <div class="meta">
            {{vote_count}} point(s) by {{owner.user_name}} on
            {{created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
        </article>
    </li>
    </ol>
  </div>
  <div class="column discover">Discover
    <div class="box">
        
        <div class="block discover">
            <!--ADD CARDS FOR TOP DOG OWNERS -->
        </div>
         <div class="block events">
            <!--ADD CARDS OR BUTTON FOR EVENTS -->
        </div>
    </div>
  </div>
</div>

