<!--PROFILE PAGE -->
<section class="section profile-card mx-4 my-4">
  <div class="card">
    <div class ="card-image">
      <figure class="image is-4by3">
        <img src="/images/pexels-samson-katt-5255249.jpg" alt="Owner Image" style="width:100%">
      </figure>
    </div>
    <div class="card-content">
      <h1 class="title is-2">{{post_content}} | {{owner.user_name}}</h1>
      <br>
      <p class=" title is-3 dog-info">Whose Barking In Your House?:{{owner.dog_name}},{{owner.dog_breed}},{{owner.dog_size}} </p>
      <br>
      <p class="title is-3 location">{{owner.location}}</p>
      <br>
      <p class=" title is-4 bio">{{owner.dog_description}}</p>
    </div>
    <div class="card-footer">
      {{> post-info post}}
      <button class="button is-info is-fullwidth">Edit Profile</button>
    </div>
  </div>
</section>