<!-- EDIT POST FORM -->
<section class="section box">
  <article>
    <a class="button is-info" href="/dashboard"> &larr; Back To Profile</a>
    <h2 class="title is-2">
      Edit Post
    </h2>
    <form class="edit-post-form">
      <div class="field">
        <label class="label">New Title</label>
        <div class="control">
          <input name="post-title" type="text" value="{{post.title}}" />
        </div>
      </div>
      <div class="field">
        <label class="label">New Bio</label>
        <div class="control">
          <textarea class="textarea" id="dog-description" type="bio" value="{{post.post_content}}"></textarea>
        </div>
      </div>
      <div>
        {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
      </div>
      <button type="submit">Save Post</button>
      <button type="button" class="delete-post-btn button">Delete Post</button>
    </form>
  </article>
</section>
<!-- Add New Comment-->
<section class="section">
  <form class="comment-form">
    <div>
      <textarea class="textarea is-info" name="comment-body"></textarea>
    </div>
    <div>
      <button class="button" type="submit">Add Comment</button>
    </div>
  </form>
</section>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>